In [6]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [3]:
nuts_path = "in_data/admin/Forest_area_PL.geojson"

In [4]:
admin_stats = "in_data/admin/PL_landcover.csv"

In [13]:
aggregates = pd.read_csv(admin_stats)

aggregates.columns = ['NUTSID', 'cl_1_total', 'cl_2_total', 'cl_4_total']


aggregates.head()

  NUTSID  cl_1_total  cl_2_total  cl_4_total
0     PL     9254668    11009210     3149870
1   PL92      830702     1224200      475490
2   PL22      394773      278930       81700
3   PL51      595054      711890      131990
4   PL52      250928      446400       37410

In [11]:
aggregates.columns

Index(['NUTSID', 'forest_ha', 'arable_ha', 'grass_ha'], dtype='object')

In [8]:
features = gpd.read_file(nuts_path)

In [14]:
# Set 'NUTSID' as the index in a copy of the aggregates DataFrame
aggregates_indexed = aggregates.set_index('NUTSID')

for i, col in enumerate(aggregates_indexed.columns):
    # Create a new column name for features GeoDataFrame
    label = col
    
    # Map the values from aggregates to features based on 'NUTS_ID'
    features[label] = features['NUTS_ID'].map(aggregates_indexed[col])

In [16]:
features.to_file('in_data/admin/PL_stats.geojson', driver='GeoJSON')

In [15]:
features

,id,NUTS_ID,LEVL_CODE,CNTR_CODE,NAME_LATN,NUTS_NAME,MOUNT_TYPE,URBN_TYPE,COAST_TYPE,FID,...,X2018,X2019,X2020,X2021,X2022,geometry,cl_1_total,cl_2_total,cl_3_total,cl_4_total
0,PL81,PL81,2,PL,Lubelskie,Lubelskie,0,0,0,PL81,...,7.680950e+05,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((5211233.634 3322625.572, 52115...",587768,1113810,215480,215480
1,PL21,PL21,2,PL,Małopolskie,Małopolskie,0,0,0,PL21,...,3.620782e+05,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((5080508.314 3065872.642, 50802...",435243,296910,238360,238360
2,PL72,PL72,2,PL,Świętokrzyskie,Świętokrzyskie,0,0,0,PL72,...,5.746553e+05,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((5132344.898 3170532.333, 51321...",332313,324470,98140,98140
3,PL84,PL84,2,PL,Podlaskie,Podlaskie,0,0,0,PL84,...,6.670610e+05,667061.0,668376.0,668376.0,668376.0,"MULTIPOLYGON (((5183759.578 3540551.738, 51850...",625030,685690,380250,380250
4,PL43,PL43,2,PL,Lubuskie,Lubuskie,0,0,0,PL43,...,6.895180e+05,689518.0,690236.0,690236.0,690236.0,"MULTIPOLYGON (((4720426.798 3342288.033, 47200...",689518,280760,101270,101270
5,PL22,PL22,2,PL,Śląskie,Śląskie,0,0,0,PL22,...,6.250300e+05,625030.0,625685.0,625685.0,625685.0,"MULTIPOLYGON (((4967352.926 3143773.685, 49678...",394773,278930,81700,81700
6,PL61,PL61,2,PL,Kujawsko-pomorskie,Kujawsko-pomorskie,0,0,0,PL61,...,8.307020e+05,830702.0,832225.0,832225.0,832225.0,"MULTIPOLYGON (((4899411.038 3423607.214, 48996...",421942,973940,99600,99600
7,PL63,PL63,2,PL,Pomorskie,Pomorskie,0,0,0,PL63,...,2.509280e+05,250928.0,250892.0,250892.0,250892.0,"MULTIPOLYGON (((4871927.024 3530224.728, 48725...",667061,613740,127130,127130
8,PL71,PL71,2,PL,Łódzkie,Łódzkie,0,0,0,PL71,...,3.323130e+05,332313.0,331933.0,331933.0,331933.0,"MULTIPOLYGON (((4996398.107 3289545.040, 49968...",391618,795580,150630,150630
9,PL42,PL42,2,PL,Zachodniopomorskie,Zachodniopomorskie,0,0,0,PL42,...,4.219420e+05,421942.0,421859.0,421859.0,421859.0,"MULTIPOLYGON (((4765919.850 3451844.615, 47658...",817085,651860,153440,153440
10,PL41,PL41,2,PL,Wielkopolskie,Wielkopolskie,0,0,0,PL41,...,7.627360e+05,762736.0,767047.0,767047.0,767047.0,"MULTIPOLYGON (((4821403.726 3194127.526, 48215...",769351,1479650,237570,237570
11,PL62,PL62,2,PL,Warmińsko-mazurskie,Warmińsko-mazurskie,0,0,0,PL62,...,4.803402e+06,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((5069607.538 3528478.279, 50702...",762736,606550,314380,314380
12,PL82,PL82,2,PL,Podkarpackie,Podkarpackie,0,0,0,PL82,...,2.612899e+06,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((5202773.596 3128036.479, 52041...",683546,331750,190230,190230
13,PL92,PL92,2,PL,Mazowiecki regionalny,Mazowiecki regionalny,0,0,0,PL92,...,5.877680e+05,587768.0,588252.0,588252.0,588252.0,"MULTIPOLYGON (((5156874.683 3349413.607, 51576...",830702,1224200,475490,475490
14,PL51,PL51,2,PL,Dolnośląskie,Dolnośląskie,0,0,0,PL51,...,8.170850e+05,817085.0,819180.0,819180.0,819180.0,"MULTIPOLYGON (((4821403.726 3194127.526, 48215...",595054,711890,131990,131990
15,PL52,PL52,2,PL,Opolskie,Opolskie,0,0,0,PL52,...,6.835460e+05,683546.0,682752.0,682752.0,682752.0,"MULTIPOLYGON (((4864736.108 3149378.479, 48660...",250928,446400,37410,37410