In [26]:
import rasterio
import geopandas as gpd
from rasterstats import zonal_stats
from shapely.geometry import box

In [9]:
coarser_poly_path = 'in_data/reference_1km/Poland/pl_1km.shp'
raster_path = 'out_data/predictions/landcover_fillup/PL72_prediction_kernel.tif'

In [27]:

# Read the finer raster
with rasterio.open(raster_path) as src:
    finer_raster = src.read(1)  # read the first band
    finer_transform = src.transform
    raster_bounds = src.bounds

raster_bbox = box(*raster_bounds)
    
coars_poly = gpd.read_file(coarser_poly_path)

In [76]:
# Check which polygons are contained within the raster's bounding box
contained_polygons = coars_poly[coars_poly.geometry.within(raster_bbox)]

contained_polygons = contained_polygons.copy()

In [30]:
stats = zonal_stats(contained_polygons, finer_raster, affine=finer_transform, categorical=True)

In [77]:
for cl in [0,1,2,3,4,255]:
    l = []
    for cell in stats:
        
        
        if cl in cell.keys():
            l.append(cell[cl] / 100)
        else:
            l.append(0)
    
    contained_polygons.loc[:,"cl" + str(cl)] = l

In [78]:
contained_polygons

,CELLCODE,EOFORIGIN,NOFORIGIN,geometry,cl0,cl1,cl2,cl3,cl4,cl255
229961,1kmE5004N3062,5004000,3062000,"POLYGON ((5004000.000 3062000.000, 5004000.000...",0.0,0.0,0.0,0.0,0,1.0
229962,1kmE5004N3063,5004000,3063000,"POLYGON ((5004000.000 3063000.000, 5004000.000...",0.0,0.0,0.0,0.0,0,1.0
229963,1kmE5004N3064,5004000,3064000,"POLYGON ((5004000.000 3064000.000, 5004000.000...",0.0,0.0,0.0,0.0,0,1.0
229964,1kmE5004N3065,5004000,3065000,"POLYGON ((5004000.000 3065000.000, 5004000.000...",0.0,0.0,0.0,0.0,0,1.0
229965,1kmE5004N3066,5004000,3066000,"POLYGON ((5004000.000 3066000.000, 5004000.000...",0.0,0.0,0.0,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...
318828,1kmE5152N3183,5152000,3183000,"POLYGON ((5152000.000 3183000.000, 5152000.000...",0.0,0.0,0.0,0.0,0,1.0
318829,1kmE5152N3184,5152000,3184000,"POLYGON ((5152000.000 3184000.000, 5152000.000...",0.0,0.0,0.0,0.0,0,1.0
318830,1kmE5152N3185,5152000,3185000,"POLYGON ((5152000.000 3185000.000, 5152000.000...",0.0,0.0,0.0,0.0,0,1.0
318831,1kmE5152N3186,5152000,3186000,"POLYGON ((5152000.000 3186000.000, 5152000.000...",0.0,0.0,0.0,0.0,0,1.0
318832,1kmE5152N3187,5152000,3187000,"POLYGON ((5152000.000 3187000.000, 5152000.000...",0.0,0.0,0.0,0.0,0,1.0

In [81]:
contained_polygons.loc[contained_polygons['cl255'] < 1, ['CELLCODE', "cl0", "cl1", "cl2", "cl3", "cl4", "cl255"]]

             CELLCODE   cl0   cl1   cl2   cl3  cl4  cl255
230012  1kmE5004N3113  0.00  0.00  0.00  0.00    0   0.98
230013  1kmE5004N3114  0.00  0.00  0.23  0.00    0   0.60
230014  1kmE5004N3115  0.46  0.00  0.11  0.00    0   0.23
230015  1kmE5004N3116  0.94  0.00  0.02  0.00    0   0.00
230016  1kmE5004N3117  0.58  0.00  0.03  0.00    0   0.24
...               ...   ...   ...   ...   ...  ...    ...
318788  1kmE5152N3143  0.01  0.16  0.26  0.00    0   0.00
318789  1kmE5152N3144  0.06  0.11  0.00  0.59    0   0.00
318790  1kmE5152N3145  0.01  0.15  0.00  0.15    0   0.00
318791  1kmE5152N3146  0.09  0.00  0.06  0.00    0   0.06
318792  1kmE5152N3147  0.00  0.00  0.00  0.00    0   0.87

[12069 rows x 7 columns]